h2 {
    text-align: center;
    flex: 1 0 0;
}

#cards-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem 1rem;
}

#cards-area .main-block {
    display: flex;
    gap: 2rem;
    width: 100%;
}

#cards-area .main-block > button {
    flex: 0 0 2rem;
}

#cards-area > div:first-child {
    display: flex;
}

#cards-container {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.card {
    flex: 1 0 0;
}

.card .scrollable {
    overflow-y: auto;
    word-wrap: break-word;
    scrollbar-width: thin;
    padding-right: 0.5rem;
    scrollbar-color: var(--disabled-light) var(--background);
}

input {
    background-color: var(--background);
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: var(--shadow);
}

input:focus {
    outline: none;
}

label {
    position: absolute;
    right: 5rem;
}

#cards-area #dots {
    display: flex;
    gap: 1rem;
    width: fit-content;
    align-self: center;
}

.dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--disabled-light);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.dot.active {
    background-color: var(--accent-light);
    cursor: unset;
}