h1 {
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 0.5rem;
}

h2 {
    text-align: center;
}

h3 {
    text-transform: capitalize;
}

h3:empty::before {
    /* To prevent content jumps while loading,
    and take into account align-items: baseline; */
    content: 'Skeleton';
    color: transparent;
}

.author-info {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    align-items: baseline;
}

.author-info .secondary-text::before {
    content: "-";
    margin: 0 0.5rem 0 0;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.breadcrumbs {
    margin-bottom: 1rem;
}

.container {
    gap: 1rem;
    padding: 2rem;
}

.card {
    justify-content: start;
    max-width: 25%;
}

.card .author {
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
}

#cards-container {
    height: 25rem;
}

#cards-container .author div {
    word-break: break-all;
}

.header {
    min-height: 7.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post-body {
    line-height: 1.2rem;
    padding-top: 1rem;
    min-height: 6.7rem;
}

#post-body::first-letter {
    font-size: 350%;
    text-transform: capitalize;
    color: var(--accent);
}

.comment-body {
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 0.5rem;
    scrollbar-color: var(--disabled-light) var(--background);
}