.container {
    padding: 2rem 5%;
}

.details {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 2rem;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}

.wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wrap.multi-line {
    align-items: start;
    min-height: 6rem;
}

#cards-container {
    height: 14.2rem;
}

.card {
    gap: 1rem;
    text-transform: capitalize;
    justify-content: space-between;
}