h1 {
    margin: 1rem 0;
}

.container {
    background-color: unset;
    width: fit-content;
}

.cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
}

button {
    margin-top: 1rem;
}
