* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
}

.container {
    background-color: unset;
}

.cards-container {
    grid-template-columns: repeat(2, 1fr);
}

button {
    margin-top: 1rem;
}
