* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

#container {
    background-color: #eaeaea;
    padding: 1rem;
    min-width: 800px;
    max-width: 80%;
    margin: 0 auto;
}


h1 {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

h2 {
    margin: 2rem 0 1rem 0;
}

h3 {
    color: #424242;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

#post-view > p:first-of-type {
    color: dimgray;
    font-size: 24px;
}

.author p:first-of-type {
    font-size: 24px;
}

.author p:last-of-type{
    color: dimgray;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#comments-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.comment {
    padding: 1rem;
    background-color: #fafafa;
    color: #9f9f9f;
}

.comment .author {
    font-size: 1rem;
    line-break: anywhere;
}

.comment .comment-body {
    color: #424242;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.25rem 0;
    flex: 1 0 0;
    border: none;
    cursor: pointer;
    background-color: white;
}

button:hover:not(:disabled) {
    background-color: lightgray;
}

button:disabled {
    cursor: auto;
}