h1 {
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 0.5rem;
}

h2 {
    grid-column: span 4;
    text-align: center;
}

h3 {
    text-transform: capitalize;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.container {
    gap: 1rem;
    padding: 2rem;
}

.author-info {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    align-items: baseline;
}

.card {
    justify-content: start;
    max-width: 25%;
}

.card .author {
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
}

.cards-container .author div {
    word-break: break-all;
}

#post-body {
    line-height: 1.2rem;
    padding-top: 1rem;
}

#post-body::first-letter {
    font-size: 350%;
    text-transform: capitalize;
    color: var(--accent);
}