.container {
    padding: 2rem 5% 2rem 5%;
    gap: 2rem;
    margin-bottom: 0;
}

.details {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 2rem;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.wrap {
    display: flex;
    align-items: center;
}

.wrap.multi-line {
    align-items: start;
    min-height: 6rem;
}

.card {
    max-width: 20%;
    gap: 1rem;
}

.card p {
    height: 7.2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 0.5rem;
    scrollbar-color: var(--disabled-light) var(--background);
}

.header {
    min-height: 5.85rem;
}