.container {
    padding: 2rem 5% 2rem 5%;
    gap: 2rem
}

.details {
    display: grid;
    grid-template-areas: "div div";
    gap: 2rem;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.wrap {
    display: flex;
    align-items: center;
}

.wrap.multi-line {
    align-items: start;
}

.cards-container {
    grid-template-columns: repeat(5, 1fr);
}

h2 {
    grid-column: span 5;
    text-align: center;
}

.card {
    gap: 1rem;
}

.card p {
    text-transform: capitalize;
}